.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }
        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
    }
}

ion-item-divider{
    --background: transparent;
    --color: #fff;
}

ion-item{
    --background: transparent;
    --color: #fff;
}

ion-content.background{
    --background: url(../../../assets/images/im.jpg) 0 0/100% 100% no-repeat;
}

ion-content.clear{
    --opacity: 0.1;
}